<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
    <link rel="stylesheet" href="/static/about_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body style="background: #899fff">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="pt-5 px-5 mx-auto">
                <h4 class="mt-3" align="center">Профессиональная команда</h4>
                <p class="mt-3" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;📌Наш коллектив – это постоянный дружеский союз
                    опытных молодых специалистов: экономистов, музыкантов, работников культуры, мастеров и языковедов.
                    Благодаря широкой профессиональной специализации на протяжении многих лет мы эффективно помогаем
                    своим клиентам выгодно приобретать именно те инструменты и товары, которые позволяют им
                    реализовывать свои творческие замыслы.</p>
                <h4 class="mt-3" align="center">Работаем по всему миру</h4>
                <p class="mt-3" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;📌На протяжении 40 лет мы изучаем мировой рынок
                    музыкальных инструментов, выясняем потребности белорусского рынка, устанавливаем и поддерживаем
                    контакты с известными предприятиями-изготовителями, собираем и распространяем информацию о редких
                    музыкальных инструментах, а также представляем новинки сезона и оказываем профессиональные
                    консультационные услуги.</p>
                <h4 class="mt-3" align="center">Мы поможем Вам</h4>
                <p class="mt-3" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;📌Мы выполняем гарантийное, послегарантийное
                    обслуживание реализованных нами товаров, а также ремонт, индивидуальную мастеровую доводку и
                    реставрацию музыкальных инструментов. Покупателей электронных инструментов и звукового оборудования
                    мы консультируем по вопросам подключения инструмента к персональному компьютеру и обучаем
                    пользоваться программным обеспечением.</p>
                <h4 class="mt-3" align="center">Широкий ассортимент</h4>
                <p class="mt-3" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;📌Allen&Heath, Audix, Athletic, Boss, Casio,
                    D'Addario, db Technologies, Dynaudio, Epiphone, Ernie Ball, ESP, Evans, Fender, Focusrite, Gewa,
                    Gibson, Hartke, HK Audio, Hofner, Hohner, Hughes & Kettner, Ibanez, Kawai, Ludwig, M-Audio, Neumann,
                    Numark, Paiste, Partsland, Pioneer, Planet Waves, Presonus, ProAudio, Reloop, Roland, Scandalli,
                    Seiler, Sennheiser, Sigma Guitars, Sinn7, t.c.electronic, Vic Firth, Weltmeister, Yamaha, Тульская
                    гармонь, Эмузин и многих других производителей.</p>

            </div>
            <div class="col-lg-12">
                <iframe allowfullscreen="" frameborder="0" loading="lazy"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGz6HJDVY9fht_jGVCprEpRCwZ8PSsqhc&amp;q=Minsk&amp;zoom=11"
                        width="100%" height="500px"
                        style="box-shadow: 0 0 6px;border-radius: 5px;border: 1px solid rgb(255,255,255);width: 100%;margin-top: 15px;height: 500px;"></iframe>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<hr class="clear">


</body>

</html>
