<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <title th:text="${store.name}"></title>
    <link rel="stylesheet" href="/devices_style.css">
</head>

<head th:insert="blocks/head :: head"></head>

<body style="background: #899fff">

<header th:insert="blocks/header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light">
    <div class="row">
        <div class="col-lg-12 my-3">
            <h1 th:text="${store.name}">Name</h1>
        </div>
        <div class="col-lg-4 mb-3">
            <img class="poster-device w-100" th:attr="src=${'/img/' + store.poster}">
            <div th:if="${store.owner.id == user.id}" class="btn-group mt-3">
                <a th:href="'/stores/edit/' + ${store.id}" class="btn btn-primary">Редактировать</a>
            </div>
            <div th:if="${store.owner.id == user.id}" class="btn-group mt-3">
                <a th:href="'/stores/delete/' + ${store.id}" class="btn btn-danger">Удалить</a>
            </div>
            <div th:if="${store.owner.id == user.id}" class="btn-group mt-3">
                <a th:href="'/devices/add/' + ${store.id}" class="btn btn-primary">Добавить музыкальный инструмент</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <b>Адрес: </b>
                <span th:text="${store.address}"></span>
            </div>
            <div>
                <b>Телефон: </b>
                <span th:text="${store.tel}"></span>
            </div>
            <h4>Описание</h4>
            <p class="description text-break" th:text="${store.description}"></p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3" th:each="s : ${store.getDevices}">
            <div class="card mb-4 rounded-3 shadow-sm">
                <a class="device" th:href="'/devices/' + ${s.id}">
                    <img class="poster-device mb-3 w-100" th:src="'/img/' + ${s.poster}" width="100%">
                    <h4 th:text="${s.name}" class="card-title pricing-card-title mx-3 text-break">Название</h4>
                </a>
                <ul class="list-unstyled mt-3 mb-3 mx-3">
                    <li>Категория: <a th:text="${s.category.name}" th:href="'/catalog/category/' + ${s.category}"></a></li>
                    <li>Цена: <span th:text="${s.income.price}"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<script type="text/javascript" src="/device_script.js"></script>

<hr class="clear">


</body>

</html>
